@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #bfa38e;
}

*,
input {
  font-family: "VT323", monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 5px solid #a45b21;
  background-color: #592b0c;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button.pause {
  cursor: initial;
  display: none;
}

.button.active {
  display: block;
  background-color: #a45b21;
  border-color: #592b0c;
  outline: 5px solid #a45b21;
}

.button:hover {
  background-color: #a45b21;
  border-color: #592b0c;
  outline: 5px solid #a45b21;
}

.button.inside-form {
  background-color: #a45b21;
  border-color: #592b0c;
}

.button.inside-form:hover {
  background-color: #592b0c;
  border-color: #a45b21;
  outline-color: #bfa38e;
}

.main-form {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form > .button {
  margin-top: 2rem;
}

.main-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../src/img/score_background.jpeg");
}

.game-page {
  max-width: 1774px;
  margin-inline: auto;
}

.game-page .menu {
  width: 95%;
  margin-inline: auto;
  padding-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.game-page .menu p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 1rem;
}

.game-page .ingame-message {
  width: 100%;
  text-align: center;
}

.game-page .ingame-message p {
  opacity: 0;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.game-page .ingame-message p.show {
  opacity: 1;
}

.game-page .game-area {
  position: relative;
  width: 95%;
  margin-inline: auto;
  overflow: hidden;
  height: 200px;
  border: 5px solid #592b0c;
}

.game-page .player {
  position: absolute;
  bottom: 0;
  left: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: red;
}

.game-page .box {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 30px;
  height: 30px;
  background-image: url("../src/img/box1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-page .jump {
  -webkit-animation: jump-animation 0.4s ease;
          animation: jump-animation 0.4s ease;
}

@-webkit-keyframes jump-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.game-page .bonus {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 30px;
  height: 30px;
  background-image: url("../src/img/star.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-page .potion {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 30px;
  height: 30px;
  background-image: url("../src/img/potionVitesse.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-page .getHeart {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 30px;
  height: 30px;
  background-image: url("../src/img/heart.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-page .heart {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../src/img/heart.png");
  background-size: contain;
}

.game-page .heartEmpty {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../src/img/heartEmpty.png") !important;
  background-size: contain;
}

.game-page .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  margin-inline: auto;
}

.game-page .score {
  font-weight: bold;
  font-size: 2rem;
}

.game-page .hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.score-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../src/img/score_background.jpeg");
}

.score-page section {
  padding-block: 2rem;
}

.score-page section .score-table {
  width: 30rem;
  margin-inline: auto;
  background-color: #a45b21;
  border: 5px solid #592b0c;
}

.score-page section .score-table h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  padding-block: 1rem;
  margin: 0;
  border-bottom: 5px solid #592b0c;
}

.score-page section .score-list,
.score-page section .score-title {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #592b0c;
}

.score-page section .score-list p,
.score-page section .score-title p {
  padding-inline: 0.5rem;
}

.score-page section .score-title {
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.score-page section .score-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  list-style-position: inside;
  height: 50vh;
  overflow-y: scroll;
  margin: 0;
}

.score-page section .score-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 3px solid #592b0c;
  color: #ffffff;
}

.score-page section .score-list li:last-child {
  border: none;
}

.score-page section .score-list li:nth-child(1) p:last-child::before, .score-page section .score-list li:nth-child(2) p:last-child::before, .score-page section .score-list li:nth-child(3) p:last-child::before {
  content: "🥇";
  font-size: 2rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  top: 50%;
}

.score-page section .score-list li:nth-child(2) p:last-child::before {
  content: "🥈";
}

.score-page section .score-list li:nth-child(3) p:last-child::before {
  content: "🥉";
}

.score-page section .score-list li p:first-child {
  width: 70%;
}

.score-page section .score-list li p:last-child {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.score-page section .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  padding-block: 1rem;
}

form {
  background-color: #a45b21;
  border: 5px solid #592b0c;
  width: 70%;
  max-width: 40rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

form h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
}

form .input-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .input-container label {
  color: #ffffff;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border: 3px solid #592b0c;
  background-color: #bfa38e;
  color: #592b0c;
  font-size: 1.3rem;
}

form input[type="text"]::-webkit-input-placeholder,
form input[type="password"]::-webkit-input-placeholder {
  color: #ffffff;
}

form input[type="text"]:-ms-input-placeholder,
form input[type="password"]:-ms-input-placeholder {
  color: #ffffff;
}

form input[type="text"]::-ms-input-placeholder,
form input[type="password"]::-ms-input-placeholder {
  color: #ffffff;
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
  color: #ffffff;
}

form input {
  outline: none;
}

form span {
  color: #ffffff;
  font-size: 1.3rem;
}

.main-title-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
}

.main-title-container p {
  margin: 0;
  font-size: 1.5rem;
}

.main-title-container h4 {
  margin: 0;
  font-size: 1.5rem;
}

.main-title-container .main-title {
  color: #ffffff;
  line-height: 1;
  font-size: 8rem;
  text-shadow: none;
  text-align: center;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  background: url("../src/img/pattern.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  -webkit-animation: animate 20s linear 2s infinite alternate;
          animation: animate 20s linear 2s infinite alternate;
}

@-webkit-keyframes animate {
  100% {
    background-position: -500px 0;
  }
}

@keyframes animate {
  100% {
    background-position: -500px 0;
  }
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.accueil .button {
  width: 10rem !important;
}
/*# sourceMappingURL=styles.css.map */